*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans-serif',sans-serif;
}
.wrapper{
    width: 1100px;
    margin: auto;
    posision: relative;
}
.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color:#131212;

}
.menu{
    float: right;
}

nav{
    width: 100%;
    Margin: auto;
    display: flex;
    line-height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:#f7a4a4e5;
   
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;

}
nav ul li a{
    color:#131212;

    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom.Deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color:#131212;

}
h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#131212;
    width: 100%;
    line-height: 50px;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.profile-list{
    width: 100;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-profile{
    width: 20%;
    margin: 0 auto;
}

.kartu-profile img{
    width: 80%;
    border-radius: 50%;
}

.kartu-profile p {
    font-family: 'comic sans ms';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color:#131212
}

#contact{
    background: #f7a4a4e5;
    padding: 50px 0px 50px 0px;
}
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color:#131212;
    width: 100%;
    line-height: 50px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}
